
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Zain:wght@200;300;400;700;800;900&display=swap');

body{
  direction: rtl;
  font-family: var(--Primary-fontfamily);
}

.main_container{
  margin: 0 auto;
  padding: 1rem 2rem;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

:root{
  /* 
    ======================
          Colors
    ======================
  */
  --gold-color:#FFDE4D;
  --black-color: #1b1b1b;
  --white-color: #fff;
  

  /* 
    ======================
          Fonts
    ======================
  */

  --Primary-fontfamily:"Zain", sans-serif;

}